<!-- add depot modal -->
<div class="modal fade addRole" tabindex="-1" role="dialog" aria-labelledby="addRole" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addRoleTitle">Add Role</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form method="post" enctype="multipart/form-data" action="{% url 'dashboard-lpg-add-role' %}" autocomplete="off" class="form-horizontal form-label-left">
                    {% csrf_token %}


                    {% if errors %}
                        {% for field, field_errors in errors.items %}
                            <div class="alert alert-danger fade show" role="alert"> {{ field }}: {{ field_errors.0 }} </div>
                        {% endfor %}
                    {% endif %}


                    
                    <div class="position-relative form-group">
                        <label for="name" class="">
                            Name
                        </label>
                        <input name="name" id="name" placeholder="name" type="text" class="form-control" required="required" value="{{ form_data.name }}">
                        <i>name of the role</i>
                    </div>


                    <hr>

                    <div class="row">
                        <div class="col-md-6">
                            <button type="button" class="btn btn-block btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-block btn-block btn-success">Save</button>
                        </div>
                    </div>



                </form>
            </div>

            <div class="modal-footer">
            </div>

        </div>
    </div>
</div>
