{% extends 'auth/main.html' %}

{% block title %}Forgot Password{% endblock %}




{% block content %}

<div class="h-100 d-flex bg-white justify-content-center align-items-center col-md-12 col-lg-8">
    <div class="mx-auto app-login-box col-sm-12 col-md-10 col-lg-9">
        <div class="app-logo"></div>

        <h4 class="mb-0">
            <span class="d-block">Reset Password</span>
        </h4>
        <br>
        <p class="mb-0">
            <span>If we found an eligible account associated with that username, we've sent password reset instructions to the primary email address on the account.</span>
        </p>

        <br>
        <br>
        <br>
        <p class="mb-0">
            <span>Still having trouble logging in? <a href="mailto:support@mygas.com"> Contact Support </a>.</span>
        </p>



    </div>
</div>

{% endblock %}



























