{% extends 'auth/main.html' %}

{% block title %}Password Reset Successful{% endblock %}

{% block content %}

<div class="h-100 d-flex bg-white justify-content-center align-items-center col-md-12 col-lg-8">
    <div class="mx-auto app-login-box col-sm-12 col-md-10 col-lg-9">
        <div class="app-logo"></div>

        <h4 class="mb-0">
            <span class="d-block">Reset Password</span>
        </h4>
        <br>
        <p>
            Your password has been set. You may go ahead and <a href="{% url 'dashboard-login' %}">sign in</a> now.
        </p>



    </div>
</div>

{% endblock %}



























