{% extends 'dashboard/base.html' %}

{% load static %}

{% block title %}Institution{% endblock %}

{% block modal %}

{% include 'dashboard/components/modal/add_institution.html' %} 

{% endblock %}

{% block content %}

<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="pe-7s-drawer icon-gradient bg-happy-itmeo">
                    </i>
                </div>
                <div>
                    <a href="#">
                        Institution
                    </a>
                </div>
            </div>
            <div class="page-title-actions">
                <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target=".addInstitution"><i class="fa fa-plus"></i> Institution</button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="main-card mb-3 card">

                <div class="card-header">
                    <i class="header-icon lnr-screen icon-gradient bg-warm-flame"></i>
                    Institution
                    <div class="btn-actions-pane-right">
                    </div>
                </div>

                <div class="card-body">
                    <!-- <h5 class="card-title">Institutions</h5> -->
                    <ul class="tabs-animated-shadow tabs-animated nav">
                        <li class="nav-item">
                            <a role="tab" class="nav-link active" id="tab-c-0" data-toggle="tab" href="#institution">
                                <span>Property Details</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a role="tab" class="nav-link" id="tab-c-1" data-toggle="tab" href="#users">
                                <span>Users</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a role="tab" class="nav-link" id="tab-c-2" data-toggle="tab" href="#depots">
                                <span>Images </span>
                            </a>
                        </li>
                    </ul>

                    <div class="tab-content">


                        <div class="tab-pane active" id="institution" role="tabpanel">
                            <div class="card-hover-shadow card-border mb-3 card">
                                <div class="card-header">
                                    <i class="header-icon lnr-screen icon-gradient bg-warm-flame"></i>
                                    Property
                                    <div class="btn-actions-pane-right">
                                        
                                    </div>
                                </div>

                                <div class="card-body">
                                </div>

                            </div>
                        </div>

                        <div class="tab-pane " id="users" role="tabpanel">
                            <div class="card-hover-shadow card-border mb-3 card">
                                <div class="card-header">
                                    <i class="header-icon lnr-screen icon-gradient bg-warm-flame"></i>
                                    Users
                                    <div class="btn-actions-pane-right">
                                        
                                    </div>
                                </div>

                                <div class="card-body">
                                </div>

                            </div>
                        </div>

                        <div class="tab-pane " id="depots" role="tabpanel">
                            <div class="card-hover-shadow card-border mb-3 card">
                                <div class="card-header">
                                    <i class="header-icon lnr-screen icon-gradient bg-warm-flame"></i>
                                    Users
                                    <div class="btn-actions-pane-right">
                                        
                                    </div>
                                </div>

                                <div class="card-body">
                                </div>

                            </div>
                        </div>

                    </div>






                    <table class="mb-0 table table-bordered table-hover table-striped dataTables-example" >
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Phone Number</th>
                                <th>Email</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for institution in institutions%}
                                <tr>
                                    <td>{{ institution.name }}</td>
                                    <td>{{ institution.phone_number }}</td>
                                    <td>{{ institution.email_address }}</td>
                                    <td>
                                        <span class="label status->label">name</span>
                                    </td>
                                    <td class="text-right">
                                        <div class="btn-group">
                                            <a href="{% url 'dashboard-admin-institution' institution.id %}" class="mb-2 mr-2 btn btn-primary">View</a>
                                            <a href="#" class="mb-2 mr-2 btn btn-warning">Restore</a>
                                            <a href="#" class="mb-2 mr-2 btn btn-danger">Delete</a>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Name</th>
                                <th>Phone Number</th>
                                <th>Email</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>

            </div>
        </div>
    </div>



    <div class="row">
        <div class="col-md-12">
            <div class="mb-3 card">
                <div class="card-body">
                    <ul class="tabs-animated-shadow tabs-animated nav">
                        <li class="nav-item">
                            <a role="tab" class="nav-link active" id="tab-c-0" data-toggle="tab" href="#institution-details">
                                <span>Institution Details</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a role="tab" class="nav-link" id="tab-c-1" data-toggle="tab" href="#rooms">
                                <span>Property Rooms</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a role="tab" class="nav-link" id="tab-c-2" data-toggle="tab" href="#images">
                                <span>Images </span>
                            </a>
                        </li>


                    </ul>
                    <div class="tab-content">


                        <div class="tab-pane active" id="institution-details" role="tabpanel">
                            <div class="card-hover-shadow card-border mb-3 card">
                                <div class="card-header">
                                    <i class="header-icon lnr-screen icon-gradient bg-warm-flame"></i>
                                    Institution
                                    <div class="btn-actions-pane-right">
                                        
                                    </div>
                                </div>

                                <div class="card-body">
                                    <div class="col-lg-12">
                                        <div class="main-card mb-3 card">
                                            <div class="card-body"><h5 class="card-title">Institution Update</h5>

                                                <form method="post" enctype="multipart/form-data" action="{% url 'dashboard-admin-update-institution' institution.id %}" autocomplete="off" class="form-horizontal form-label-left">
                                                    {% csrf_token %}
                                
                                
                                                    {% if messages %}
                                                        {% for message in messages %}
                                                            <div class="alert alert-danger fade show" role="alert"> {{ message }} </div>
                                                        {% endfor %}
                                                    {% endif %}
                                
                                
                                                    
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="position-relative form-group">
                                                                <label for="institution_name" class="">
                                                                    Name
                                                                </label>
                                                                <input name="institution_name" id="institution_name" value="{{institution.name}}" type="text" class="form-control" required="required">
                                                                <i>name of the institution</i>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="position-relative form-group">
                                                                <label for="institution_type" class="">
                                                                    Institution Type
                                                                </label>
                                                                <select required="required" style="width: 100%" name="institution_type" id="institution_type" class="institution-type-select form-control input-lg">
                                                                    <option selected disabled value="">Select Institution Type</option>
                                                                    {% for institution_type in institution_types %}
                                                                        <option {% if institution_type.id == institution.institution_type_id %} selected {% endif %} value="{{institution_type.id}}">{{institution_type.name}}</option>
                                                                        {% endfor %}
                                                                </select>
                                                                <i>institution type</i>
                                                            </div>
                                                        </div>
                                                    </div>
                                
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="position-relative form-group">
                                                                <label for="phone_number" class="">
                                                                    Phone Number
                                                                </label>
                                                                <input required name="phone_number" value="{{institution.phone_number}}" id="phone_number" type="text" class="form-control" data-toggle="datepicker"/>
                                                                <i>Institution contact phone number.</i>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="position-relative form-group">
                                                                <label for="email_address" class="">
                                                                    Email
                                                                </label>
                                                                <input required name="email_address" value="{{institution.email_address}}" id="email_address" type="email" class="form-control"/>
                                                                <i>Institution contact email.</i>
                                                            </div>
                                                        </div>
                                                    </div>
                                
                                                    <hr>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="position-relative form-group">
                                                                <label for="first_name" class="">
                                                                    First Name
                                                                </label>
                                                                <input name="first_name" id="first_name" placeholder="first name" type="text" class="form-control" required="required">
                                                                <i>first name of the admin user</i>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="position-relative form-group">
                                                                <label for="last_name" class="">
                                                                    Last Name
                                                                </label>
                                                                <input name="last_name" id="last_name" placeholder="last name" type="text" class="form-control" required="required">
                                                                <i>last name of the admin user</i>
                                                            </div>
                                                        </div>
                                                    </div>
                                
                                                    <div class="position-relative form-group">
                                                        <label for="admin_email" class="">
                                                            Email
                                                        </label>
                                                        <input required name="admin_email" id="admin_email" type="email" class="form-control"/>
                                                        <i>admin user email.</i>
                                                    </div>
                                
                                                    <hr>
                                
                                                    <div class="row">
                                                        <button type="submit" class="btn btn-outline btn-lg btn-block btn-success">Update</button>
                                                    </div>
                                
                                
                                
                                                </form>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="tab-pane" id="images" role="tabpanel">
                            <div class="card-hover-shadow card-border mb-3 card">
                                <div class="card-header">
                                    <i class="header-icon lnr-screen icon-gradient bg-warm-flame"></i>
                                    Property Images
                                    <div class="btn-actions-pane-right">
                                        <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target=".editPropertyCoverImage"><i class="fa fa-plus"></i> Cover Image</button>
                                    </div>
                                </div>

                                <div class="card-body">
                                    <div class="col-lg-12">
                                        <div class="main-card mb-3 card">
                                            <div class="card-body"><h5 class="card-title">Cover Image</h5>

                                                

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>














                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





{% endblock %}


{% block js %}
<!-- select 2 JS -->
<script>
    $(document).ready(function(){
        $(document).ready(function() {
            $('.institution-type-select').select2();
        });
    });
</script>

<!-- date input js -->
<script>
    $(document).ready(function() {
        // Set date
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth()+1;
        var yyyy = today.getFullYear();
        if (dd < 10){
            dd = '0'+dd;
        }
        if (mm < 10){
            mm = '0'+mm;
        }
        var date = mm + '/' + dd + '/' + yyyy;
        if(document.getElementById("purchase_date")){
            document.getElementById("purchase_date").value = date;
        }
        if(document.getElementById("last_inspection")){
            document.getElementById("last_inspection").value = date;
        }

        // Set due date
        var due = new Date();
            due.setDate(due.getDate() + 180);
            var due_dd = due.getDate();
            var due_mm = due.getMonth()+1;
            var due_yyyy = due.getFullYear();
            if (dd < 10){
                due_dd = '0'+due_dd;
            }
            if (due_mm < 10){
                due_mm = '0'+due_mm;
            }
            var due_date = due_mm + '/' + due_dd + '/' + due_yyyy;
            console.log(due_date)
            if(document.getElementById("next_inspection")){
                document.getElementById("next_inspection").value = due_date;
            }


    });

</script>

{% endblock %}



